---
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";
import { ViewTransitions } from "astro:transitions";

interface Props {
    title: string;
}

const { title } = Astro.props;
const url = "https://nolimit.stream/";
const description = "[非公式]ストグラ ギャング「NOLIMIT」の配信一覧";
const ogAlt = "Hello NOLIMIT.";
---

<!doctype html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="NoLimit" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/png" href="/favicon.png" />
        <meta name="generator" content={Astro.generator} />
        <meta name="theme-color" content="#0e1014" />
        <meta name="msapplication-TileColor" content="#0e1014" />
        <meta property="og:title" content={title} />
        <meta property="og:description" content={description} />
        <meta property="og:url" content={url} />
        <meta property="og:image" content={`${url}assets/images/ogp.jpg`} />
        <meta property="og:image:alt" content={ogAlt} />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content={title} />
        <meta name="twitter:description" content={description} />
        <meta property="twitter:image:alt" content={ogAlt} />
        <link rel="apple-touch-icon" href="/assets/icons/pwa-192x192.png" />
        <link
            rel="manifest"
            href="/manifest.webmanifest"
            crossorigin="use-credentials"
        />
        <GoogleFontsOptimizer
            url="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Zen+Kaku+Gothic+New:wght@400;700&display=swap"
        />
        <title>{title}</title>
        <ViewTransitions />
    </head>
    <body>
        <slot />
        <style is:global>
            :root {
                --font-family: "Inter", "Zen Kaku Gothic New", system-ui,
                    sans-serif;
                --primary-dark: #0e1014;
                --primary-white: #ebecef;
                --text-color: var(--primary-dark);
                --bg-color: var(--primary-white);
                --border-color: rgb(221, 221, 221);
            }
            @media (prefers-color-scheme: dark) {
                :root {
                    --text-color: var(--primary-white);
                    --bg-color: var(--primary-dark);
                    --border-color: rgb(34, 34, 34);
                }
            }
            html {
                font-family: var(--font-family);
                background-color: var(--bg-color);
                background-size: 224px;
                font-size: 62.5%;
            }
            body {
                color: var(--text-color);
                margin: 0;
                padding: 24px;
                font-size: 1.6rem;
                font-feature-settings: "palt";
            }
        </style>
    </body>
</html>
